* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 140%;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 1310px) {
  body {
    font-size: calc(18px + 2 * (100vw - 390px) / 920);
  }
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page-dark {
  background: #1d1d1d;
  color: #fff;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 0.3125rem 0.9375rem;
  background: lab(85.9311% 17.6601 47.6659);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 600;
}
@media (any-hover: hover) {
  .button:hover {
    background: color-mix(in oklab, lab(85.9311% 17.6601 47.6659) 80%, transparent);
  }
}
.button-dark {
  background: lab(12.6688% 2.11811 -14.482);
  color: #fff;
  padding: 12px 48px;
}
@media (max-width: 450px) {
  .button-dark {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .button-dark:hover {
    background: color-mix(in oklab, lab(12.6688% 2.11811 -14.482) 90%, transparent);
  }
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 1310px) {
  .title {
    font-size: calc(30px + 18 * (100vw - 390px) / 920);
  }
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  gap: 1.5rem;
}
@media (max-width: 767.98px) {
  .columns {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  }
}
.columns__item {
  padding-bottom: 75%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media (any-hover: hover) {
  .columns__item:hover .columns__image {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.columns__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.columns__image-opr img {
  -o-object-position: 85% center;
     object-position: 85% center;
}
.columns__label {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  padding: 0 1.5rem 1.5rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
@media (max-width: 1310px) {
  .columns__label {
    font-size: calc(24px + 6 * (100vw - 390px) / 920);
  }
}

.section-header {
  margin-bottom: 48px;
}
@media (max-width: 1310px) {
  .section-header {
    margin-bottom: calc(30px + 18 * (100vw - 390px) / 920);
  }
}
.section-header:has(.section-header__subtitle) .section-header__title {
  margin-bottom: 16px;
}
@media (max-width: 1310px) {
  .section-header:has(.section-header__subtitle) .section-header__title {
    margin-bottom: calc(10px + 6 * (100vw - 390px) / 920);
  }
}
.section-header__subtitle {
  text-align: center;
  font-size: 20px;
  color: lab(41.9436% 0.096634 -3.7717);
}
@media (max-width: 1310px) {
  .section-header__subtitle {
    font-size: calc(16px + 4 * (100vw - 390px) / 920);
  }
}

.section {
  padding-block: 64px;
}
@media (max-width: 1310px) {
  .section {
    padding-block: calc(40px + 24 * (100vw - 390px) / 920);
  }
}

.header {
  background: lab(12.6688% 2.11811 -14.482);
  color: #fff;
  padding: 12px 0;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.header__logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1310px) {
  .header__logo {
    font-size: calc(16px + 4 * (100vw - 390px) / 920);
  }
}
.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.info-header__avatar {
  max-width: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.info-header__details {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}
.info-header__name {
  font-weight: 600;
  margin-bottom: 0.3125rem;
}
.info-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 47.9988rem) {
  .info-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.info-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-header__icon {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info-header__icon svg {
  width: 16px;
  height: 16px;
}
.info-header__link {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .info-header__link:hover {
    opacity: 0.8;
  }
}
.info-header__license {
  font-size: 0.875rem;
}

.hero__decor {
  padding-bottom: 40%;
  min-height: 450px;
}

.contact__container {
  max-width: 48rem;
}
.form-contact {
  text-align: center;
}
.form-contact__body {
  -moz-text-align-last: left;
       text-align-last: left;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 767.98px) {
  .form-contact__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 767.98px) {
  .form-contact__item-fw {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
.form-contact__label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.form-contact__input {
  padding: 0.375rem 0.75rem;
  background: #fff;
  border: 0.0625rem solid lab(88.373% 0.0273287 -1.89791);
  border-radius: 0.375rem;
  font-size: 18px;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1310px) {
  .form-contact__input {
    font-size: calc(14px + 4 * (100vw - 390px) / 920);
  }
}
.form-contact__input:focus {
  border-color: lab(85.9311% 17.6601 47.6659);
}
.form-contact__disclaimer {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  color: lab(41.9436% 0.096634 -3.7717);
  padding: 1rem;
  background: lab(95.3331% 0.0267923 -1.89819);
  border-radius: 0.5rem;
}
.faq__container {
  max-width: 48rem;
}
.body-faq__item:not(:last-child) {
  border-bottom: 0.0625rem solid color-mix(in oklab, lab(12.6688% 2.11811 -14.482) 16%, transparent);
}
.body-faq__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
}
.body-faq__header._active .body-faq__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.body-faq__text {
  font-size: 0.875rem;
  font-weight: 500;
}
.body-faq__icon {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: lab(41.9436% 0.096634 -3.7717);
}
.body-faq__icon svg {
  width: 16px;
  height: 16px;
}
.body-faq__content {
  padding-bottom: 1rem;
  font-size: 14px;
}
.body-faq__content p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer {
  padding-block: 32px;
  background: lab(12.6688% 2.11811 -14.482);
}
@media (max-width: 1310px) {
  .footer {
    padding-block: calc(20px + 12 * (100vw - 390px) / 920);
  }
}
.footer__copy {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.cookies-banner {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-color: oklab(88.0002% 0.0410316 0.112777 / 0.999921);
  color: #fff;
  padding: 1.25rem 0;
  -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 0.875rem;
  -webkit-transition: bottom 0.5s ease 0s;
  transition: bottom 0.5s ease 0s;
}
.cookies-banner._show {
  bottom: 0;
}
.cookies-banner__wrapper {
  text-align: right;
}
.cookies-banner__text {
  margin-bottom: 1rem;
  text-align: left;
}