* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  line-height: 140%;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 1310px) {
  body {
    font-size: calc(18px + 2 * (100vw - 390px) / 920);
  }
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page-dark {
  background: #1d1d1d;
  color: #fff;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  padding: 5px 15px;
  background: lab(85.9311% 17.6601 47.6659);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
@media (any-hover: hover) {
  .button:hover {
    background: color-mix(in oklab, lab(85.9311% 17.6601 47.6659) 80%, transparent);
  }
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}
@media (max-width: 1310px) {
  .title {
    font-size: calc(30px + 18 * (100vw - 390px) / 920);
  }
}

.header {
  background: lab(12.6688% 2.11811 -14.482);
  color: #fff;
  padding: 12px 0;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.header__logo {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1310px) {
  .header__logo {
    font-size: calc(16px + 4 * (100vw - 390px) / 920);
  }
}
.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.info-header__avatar {
  max-width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.info-header__details {
  font-size: 14px;
  line-height: 1.4285714286;
}
.info-header__name {
  font-weight: 600;
  margin-bottom: 5px;
}
.info-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 4px;
}
@media (max-width: 767.98px) {
  .info-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.info-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-header__icon {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info-header__icon svg {
  width: 16px;
  height: 16px;
}
.info-header__link {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .info-header__link:hover {
    opacity: 0.8;
  }
}

.hero__decor {
  padding-bottom: 40%;
  min-height: 450px;
}

.services {
  padding-block: 64px;
}
@media (max-width: 1310px) {
  .services {
    padding-block: calc(40px + 24 * (100vw - 390px) / 920);
  }
}