$containerWidth: 1310;

@import "nullstyle.scss";
@import "mixins.scss";

//

html,
body {
	height: 100%;
}

body {
	line-height: 1;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	@include adaptiveValue(font-size, 20, 18);
	line-height: 140%;
	color: #000;
	-webkit-font-smoothing: antialiased;
	&._lock {
		overflow: hidden;
	}
}
//

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
	&-dark {
		background: #1d1d1d;
		color: #fff;
	}
}

[class*="__container"] {
	max-width: $containerWidth + px;
	margin: 0 auto;
	padding: 0 15px;
}

.button {
	padding: 0.3125rem 0.9375rem;
	background: lab(85.9311% 17.6601 47.6659);
	transition: all 0.3s ease 0s;
	color: #000;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	font-weight: 600;
	@media (any-hover: hover) {
		&:hover {
			background: color-mix(in oklab, lab(85.9311% 17.6601 47.6659) 80%, transparent);
		}
	}
	&-dark {
		background: lab(12.6688% 2.11811 -14.482);
		color: #fff;
		padding: 12px 24px;
		@media (any-hover: hover) {
			&:hover {
				background: color-mix(in oklab, lab(12.6688% 2.11811 -14.482) 90%, transparent);
			}
		}
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
	}
}

.title {
	@include adaptiveValue(font-size, 48, 30);
	font-weight: 700;
	text-align: center;
	line-height: 1;
}

.columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
	gap: 1.5rem;
	@media (max-width: 767.98px) {
		grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
	}
	// .columns__item

	&__item {
		padding-bottom: 75%;
		position: relative;
		border-radius: 0.5rem;
		overflow: hidden;
		@media (any-hover: hover) {
			&:hover {
				.columns__image {
					transform: scale(1.1);
				}
			}
		}
	}

	// .columns__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;
		&-opr {
			img {
				object-position: 85% center;
			}
		}
	}

	// .columns__label

	&__label {
		font-weight: 700;
		@include adaptiveValue(font-size, 30, 24);
		color: #fff;
		padding: 0 1.5rem 1.5rem;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}
}

.section-header {
	@include adaptiveValue(margin-bottom, 48, 30);

	&:has(.section-header__subtitle) .section-header__title {
		@include adaptiveValue(margin-bottom, 16, 10);
	}
	&__title {
	}

	&__subtitle {
		text-align: center;
		@include adaptiveValue(font-size, 20, 16);
		color: lab(41.9436% 0.096634 -3.7717);
	}
}

.section {
	@include adaptiveValue(padding-block, 64, 40);
}

//==================================================================================================

.header {
	background: lab(12.6688% 2.11811 -14.482);
	color: #fff;
	padding: 12px 0;
	// .header__container

	&__container {
	}

	// .header__body

	&__body {
	}

	// .header__actions

	&__actions {
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: space-between;
		margin-bottom: 12px;
	}

	// .header__logo

	&__logo {
		color: #fff;
		@include adaptiveValue(font-size, 20, 16);
		font-weight: 700;
		flex: 1 1 auto;
	}

	// .header__button

	&__button {
		flex: 0 0 auto;
	}
}

.info-header {
	display: flex;
	gap: 12px;
	align-items: flex-start;
	// .info-header__avatar

	&__avatar {
		max-width: 40px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		overflow: hidden;
	}

	// .info-header__details

	&__details {
		font-size: 14px;

		line-height: calc(1.25 / 0.875);
	}

	// .info-header__name

	&__name {
		font-weight: 600;
		margin-bottom: 5px;
	}

	// .info-header__list

	&__list {
		display: flex;
		align-items: center;
		column-gap: 16px;
		row-gap: 4px;
		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .info-header__item

	&__item {
		display: flex;
		gap: 4px;
		align-items: center;
		@media (min-width: 767.98px) {
		}
	}

	// .info-header__icon

	&__icon {
		@include svgSizes(16, 16);
	}

	// .info-header__link

	&__link {
		color: #fff;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

//==================================================================================================

.hero {
	// .hero__decor

	&__decor {
		padding-bottom: 40%;
		min-height: 450px;
	}
}

//==================================================================================================

.services {
	// .services__container

	&__container {
	}

	// .services__header

	&__header {
	}

	// .services__title

	&__title {
	}

	// .services__subtitle

	&__subtitle {
	}

	// .services__columns

	&__columns {
	}
}

//==================================================================================================

.transport-info {
	&__container {
	}

	&__header {
	}

	&__title {
	}

	&__subtitle {
	}

	&__columns {
	}
}

//==================================================================================================

.contact {
	&__container {
		max-width: 48rem;
	}

	&__header {
	}

	&__title {
	}

	&__subtitle {
	}

	&__body {
	}
}

.form-contact {
	text-align: center;
	&__body {
		text-align-last: left;
		display: grid;
		@media (min-width:767.98px) {
			grid-template-columns: repeat(2, 1fr);
		}
		gap: 1.5rem;
		margin-bottom: 1.5rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
		&-fw {
			@media (min-width:767.98px) {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}
	}

	&__label {
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		margin-bottom: 8px;
	}

	&__input {
		padding: 0.375rem 12px;
		background: #fff;
		border: 0.0625rem solid lab(88.373% 0.0273287 -1.89791);
		border-radius: 0.375rem;
		font-size: 18px;
		line-height: 1.5;
	}

	&__item-fw {
	}

	&__disclaimer {
		margin-bottom: 1.5rem;
		font-size: 0.875rem;
		color: lab(41.9436% 0.096634 -3.7717);
		padding: 1rem;
		background: lab(95.3331% 0.0267923 -1.89819);
		border-radius: 0.5rem;
	}

	&__button {
	}
}
.button {
}
