$containerWidth: 1536;

@import "nullstyle.scss";
@import "mixins.scss";

//

html,
body {
	height: 100%;
}

body {
	line-height: 1;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	@include adaptiveValue(font-size, 20, 18);
	line-height: 140%;
	color: #1d1d1d;
	&._lock {
		overflow: hidden;
	}
}
//

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
	&-dark {
		background: #1d1d1d;
		color: #fff;
	}
}

[class*="__container"] {
	max-width: $containerWidth + px;
	margin: 0 auto;
	@media (min-width: 991.98px) {
		padding: 0 3rem;
	}
	padding: 0 1.4375rem;
	@media (max-width: 24.0625rem) {
		padding: 0 0.9375rem;
	}
}